version: 2.1

orbs:
  cypress: cypress-io/cypress@6

workflows:
  build:
    jobs:
      - cypress/run:
          install-command: npm ci
          start-command: npm run dev -- --host 0.0.0.0 --port 5173
          wait-on: 'http://localhost:5173'
          wait-on-timeout: '120'
          cypress-command: npm run e2e
